:root {
    --primary_color: rgb(12, 121, 0);
    --darkish_color: rgb(60, 175, 16);
    --secondary_color: whitesmoke;
    --danger_color: rgb(220, 53, 69);
    --blue_color: rgb(13, 110, 253);
}

.main {
    height: 700px;
}

select {
    font-family: inherit;
    color: var(--primary_color);
    width: 7rem;
    border: 2px solid var(--primary_color);
    font-size: 1.1rem;
    padding-left: 5px;
    background-color: transparent;
    border-radius: 0 10px 10px 0;
    text-transform: capitalize;
    padding-block: 5px;
}

.main .close:hover {
    color: var(--danger_color);
}

.main .my_forms .my_form form .form .buttons .cancle_btn {
    color: var(--danger_color);
    border-color: var(--danger_color);
}

.main .my_forms .my_form form .form .buttons .cancle_btn:hover {
    background-color: var(--danger_color);
    color: var(--secondary_color);
}