@font-face {
    font-family: "Acorn bold";
    src: url('../fonts/acorn bold.ttf');
}

:root {
    --primary_color: rgb(12, 121, 0);
    --secondary_color: whitesmoke;
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.466)), url(../images/background4.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

.main {
    padding: 20px 10px 0 20px;
    display: flex;
    flex-direction: column;
}

.main .titles {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    color: var(--secondary_color);
    margin-bottom: 1.3rem;
}

.main .titles .sub_title {
    letter-spacing: 2.5px;
    margin-bottom: 1rem;
}

.main .titles .title {
    color: var(--primary_color);
    text-shadow: 2px 2px 2px var(--secondary_color);
    letter-spacing: 2.5px;
    font-size: 2.65rem;
    margin-bottom: 1rem;
}

.my_column {
    display: flex;
    justify-content: space-between;
}

.side_bar {
    width: calc(10% - 5px);
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 67vh;
    padding-top: 10px;
    padding-inline: 10px;
    gap: 1rem;
    border: 2px solid var(--primary_color);
    background-color: rgba(0, 0, 0, 0.616);
    box-shadow: 5px 5px 5px var(--primary_color);
}

.side_bar img {
    width: 50%;
    height: auto;
}

.side_bar a {
    display: block;
    width: 100%;
    text-decoration: none;
    color: var(--secondary_color);
    font-size: 1.25rem;
    text-align: center;
}

.side_bar a:hover, .side_bar .current {
    color: var(--primary_color);
    font-size: 1.35rem;
    border-bottom: 2px solid var(--primary_color);
}

.tables {
    width: calc(90% - 25px);
    padding: 0 20px 10px 30px;
    box-shadow: -5px 5px 5px var(--primary_color);
    background-color: rgba(0, 0, 0, 0.637);
    height: 67vh;
    
}

.tables .tabel {
    width: 100%;
    overflow-y: scroll;
    min-height: 70%;
}

.tables .table_top {
    display: flex;
    flex-direction: column;
    margin: 10px 20px 20px 10px;
    gap: 1rem;
}

.tables .table_top .navigation_Menu {
    color: var(--secondary_color);
    font-size: 1.85rem;
    letter-spacing: 2px;
    position: relative;
}

.tables .table_top .navigation_Menu::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 55px;
    width: 80px;
    height: 4px;
    background-color: var(--primary_color);
}

.tables .table_top .my_form {
    display: flex;
}

.tables .table_top .my_form .form_input {
    display: flex;
    flex-direction: column;
    width: 14%;
}

.tables .table_top .my_form .big {
    width: 19%;
}

.tables .table_top .my_form .form_input label {
    color: var(--secondary_color);
    width: 80%;
    margin: auto;
}

.tables .table_top .my_form .form_input input {
    background-color: transparent;
    color: var(--primary_color);
    border: 2px solid var(--primary_color);
    width: 85%;
    margin: auto;
    font-size: 18px;
    padding: 2px 10px;
    border-radius: 5px;
    font-family: inherit;
}

.tables .table_top .my_form .form_input .btn {
    width: 80%;
    height: 100%;
    border-radius: 20px;
}

.tables .table_top .my_form .form_input .btn:hover {
    background-color: var(--primary_color);
    color: var(--secondary_color);
    box-shadow: 5px 5px 5px var(--secondary_color);
    transform: translateY(-5px);
    transition: all 0.4s;
}

.tables table {
    width: 95%;
    margin-left: 10px;
    border-collapse: collapse;
}

.tables table tr {
    border-bottom: 2px solid var(--primary_color);
}

.tables table tr:nth-child(odd){
    background-color: rgba(12, 121, 0, 0.301);
}

.tables table tr th {
    border-top: 2px solid var(--primary_color);
    text-align: start;
    padding: 5px 0 5px 10px;
    color: var(--secondary_color);
    background-color: var(--primary_color);
    font-size: 1.05rem;
    letter-spacing: 1.5px;
}

.tables table tr td {
    padding: 10px 0;
    color: var(--secondary_color);
    letter-spacing: 1.25px;
}

.tabels table tr .number {
    padding-left: 5px;
}

.tables table tr .reating {
    color: var(--primary_color);
    letter-spacing: 2.5px;
}

.tables table tr:nth-child(odd) .reating {
    color: var(--secondary_color);
}

.tables table tr td .btn {
    text-decoration: none;
    color: var(--primary_color);
    border: 2px solid var(--primary_color);
    padding: 3px 15px;
    border-radius: 5px;
}

.tables table tr td .btn:hover, .tables table tr td .btn:focus {
    color: var(--secondary_color);
    background-color: var(--primary_color);
    transition: all 0.5s;
}

.tables table tr:nth-child(odd) td .btn {
    color: var(--secondary_color);
    border-color: var(--secondary_color);
}

.tables table tr:nth-child(odd) td .btn:hover, .tables table tr:nth-child(odd) td .btn:focus {
    color: var(--primary_color);
    background-color: var(--secondary_color);
    transition: all 0.5s;
}