@font-face {
    font-family: "Acorn bold";
    src: url('../fonts/acorn bold.ttf');
}

:root {
    --primary_color: rgb(12, 121, 0);
    --secondary_color: whitesmoke;
    --darkish_color: rgb(60, 175, 16);
    --danger_color: rgb(220, 53, 69);
    --blue_color: rgb(13, 110, 253);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scrollbar-width: thin;
    scrollbar-color: var(--darkish_color) var(--primary_color);
}

body {
    font-family: "Acorn bold";
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.404), rgba(0, 0, 0, 0.466)), url(../images/background3.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;

}

.main {
    padding: 1rem 2rem;
    width: 90vw;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    top: 7%;
    background-color: rgba(0, 0, 0, 0.5);
}

.main .close {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 1.8rem;
    padding: 3px 6px;
    color: var(--secondary_color);
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.main .close:hover {
    color: var(--primary_color);
}

.main .my_forms {
    padding-top: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.main .my_forms .logo {
    width: 20%;
    display: flex;
    height: fit-content;
    
}

.main .my_forms .logo img {
    width: 100%;
    height: auto;
}

.main .my_forms .title {
    color: var(--secondary_color);
    font-size: 2.5rem;
    letter-spacing: 1.3px;
    width: 100%;
    display: flex;
    justify-content: flex-start;
}

.main .my_forms .title span {
    color: var(--primary_color);
    text-shadow: 1px 1px 2px var(--secondary_color);
    text-transform: capitalize;
}

.main .my_forms .header {
    display: flex;
    width: 100%;
    justify-content: flex-start;
}

.main .my_forms .header .heads {
    display: flex;
    width: 80%;
    padding: 0 2rem;
    justify-content: space-between;
    align-items: flex-start;
    text-align: center;
}

.main .my_forms .header .heads .big {
    width: calc(35% - 15px);
    color: var(--primary_color);
    text-shadow: 1px 1px 2px var(--secondary_color);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1.3px;
}

.main .my_forms .header .heads .small {
    width: calc(15% - 15px);
    color: var(--primary_color);
    text-shadow: 1px 1px 2px var(--secondary_color);
    font-size: 1.2rem;
    font-weight: 700;
    letter-spacing: 1.3px;
}

.main .my_forms hr {
    width: 100%;
    color: var(--primary_color);
    padding: 0;
    margin: 0;
}

.main .my_forms .forms {
    display: flex;
    width: 100%;
    align-items: flex-start;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem 2rem;
    height: 40%;
    overflow-y: scroll;
}

.main .my_forms .forms .form {
    width: 80%;
}

.main .my_forms .forms .form:nth-child(even) {
    background-color: rgba(26, 148, 2, 0.219);
}

.main .my_forms .forms .form .input {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.main .my_forms .forms .form .input .big {
    width: calc(35% - 15px);
}

.main .my_forms .forms .form .input .small {
    width: calc(15% - 15px);
}

.main .my_forms .forms .form .input .Reci_name, .main .my_forms .forms .form .input .Reci_quantity, .main .my_forms .forms .form .input .Reci_unit {
    border-bottom: 2px solid var(--primary_color);
    border-top: 0;
    border-right: 0;
    border-left: 0;
    background-color: transparent;
    color: var(--secondary_color);
    font-family: inherit;
    font-size: 1.2rem;
    padding-left: 20px;
    text-transform: capitalize;
    letter-spacing: 1.3px;
    border-radius: 10px;
    padding-block: 2px;
}

.main .my_forms .forms .form .input .Reci_quantity {
    border-top: 2px solid var(--primary_color);
}

.main .my_forms .forms .form .input .Reci_unit {
    color: var(--primary_color);
    border-top: 2px solid var(--primary_color);
}

.main .my_forms .forms .form .input .button {
    display: flex;
    justify-content: space-evenly;
}

.main .my_forms .forms .form .input .button .btn {
    text-decoration: none;
    padding: 5px 25px;
    border: 2px solid var(--primary_color);
    background-color: transparent;
    font-family: inherit;
    font-size: 1.2rem;
    color: var(--primary_color);
    border-radius: 10px;
}

.main .my_forms .forms .form .input .button .del {
    border-color: var(--danger_color);
    color: var(--danger_color);
}

.main .my_forms .forms .form .input .button .del:hover {
    background-color: var(--danger_color);
    color: var(--secondary_color);
    box-shadow: 5px 5px 5px var(--secondary_color);
    transform: translateY(-5px);
    transition: all 0.5s;
}

.main .my_forms .forms .form .input .button .edi:hover {
    background-color: var(--primary_color);
    color: var(--secondary_color);
    box-shadow: 5px 5px 5px var(--secondary_color);
    transform: translateY(-5px);
    transition: all 0.5s;
}

.add_button button {
    text-decoration: none;
    color: var(--blue_color);
    padding: 5px 30px;
    clip-path: polygon(0 0, calc(100% - 13px) 0, 100% 13px, 100% 100%, 13px 100%, 0 calc(100% - 13px));
    border: 3px solid var(--blue_color);
    font-size: 1.2rem;
    background-color: transparent;
}

.add_button button:hover {
    background-color: var(--blue_color);
    color: var(--secondary_color);
    transform: translateY(5px);
    transition: all 0.5s;
}

.add_recipe {
    display: none;
    justify-content: flex-start;
    width: 100%;
    padding-left: 2rem;
}

.add_recipe form {
    display: flex;
    width: 80%;
    justify-content: space-between;
}

.add_recipe form .big {
    width: calc(35% - 5px);
}

.add_recipe form .small {
    width: calc(15% - 5px);
}

.add_recipe form .inputs {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.add_recipe form .inputs label {
    color: var(--secondary_color);
    font-size: 1.2rem;
}

.add_recipe form .inputs label span {
    color: var(--danger_color);
}

.add_recipe form .inputs input, .add_recipe form .inputs select {
    border: none;
    border-top: 3px solid var(--primary_color);
    border-bottom: 3px solid var(--primary_color);
    color: var(--secondary_color);
    font-family: inherit;
    font-size: 1.2rem;
    background-color: transparent;
    border-radius: 10px;
    padding: 3px 10px;
}

.add_recipe form .inputs input {
    border-left: 1px solid var(--primary_color);
}

.add_recipe form .inputs select {
    color: var(--primary_color);
}

.add_recipe form .inputs .other_btn {
    text-decoration: none;
    color: var(--primary_color);
    padding: 3px 30px;
    clip-path: polygon(0 0, calc(100% - 13px) 0, 100% 13px, 100% 100%, 13px 100%, 0 calc(100% - 13px));
    border: 3px solid var(--primary_color);
    font-size: 1.2rem;
    width: fit-content;
}

.add_recipe form .inputs .other_btn:hover {
    color: var(--secondary_color);
    background-color: var(--primary_color);
}

.add_recipe form .button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.add_recipe form .button .btn {
    color: var(--blue_color);
    padding: 3px 40px;
    clip-path: polygon(0 0, calc(100% - 13px) 0, 100% 13px, 100% 100%, 13px 100%, 0 calc(100% - 13px));
    border: 3px solid var(--blue_color);
    font-size: 1.2rem;
    width: fit-content;
    background-color: transparent;
    font-family: inherit;
    letter-spacing: 1.2px;
}

.add_recipe form .button .btn:hover {
    color: var(--secondary_color);
    background-color: var(--blue_color);
    transform: translateY(-5px);
    transition: all 0.5s;
}