{% extends 'inventory/base.html' %}
{% load static %}
{% load my_filters %}

{% block title%}
Django Delights | Create Menu Item
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'inventory/css/add_menu.css' %}">
{% endblock %}

{% block content %}
    <div class="main">
        <div class="main_nav">
            <h2 class="menu_title">Add Menus</h2>
            <p class="links"><a href="{% url 'index' %}">Home -> </a>&nbsp;&nbsp;&nbsp;<a href="{% url 'menu_item' %}">Menus -> </a>&nbsp;&nbsp;&nbsp;<a href="{% url 'Add_menu' %}" class="current">Add Menus</a></p>
        </div>

        <div class="my_forms">
            <div class="logo">
                <img src="{% static 'inventory/images/logo vertical.png' %}" alt="">
            </div>
            <div class="my_form">
                <form action="{% url 'Submit_Add_menus' %}" method="post">
                    {% csrf_token %}
                    <div class="row">
                        <div class="col_1">
                            <h2 class="menu">Menus</h2>
                            <div class="input">
                                <label for="title">Menu Title <span class="star">*</span></label>
                                <input type="text" name="title" required>
                            </div>
                            <div class="input">
                                <label for="price">price <span class="star">*</span></label>
                                <input type="number" step="0.01" name="price" required>
                            </div>

                            <div class="input">
                                <label for="reating">Reating <span class="star">*</span></label>
                                <select name="reating">
                                    <option value=1>1</option>
                                    <option value=2>2</option>
                                    <option value=3>3</option>
                                    <option value=4>4</option>
                                    <option value=5 selected>5</option>
                                </select>
                            </div>
                            <div class="img">
                                <img src="{% static 'inventory/images/logo.png' %}" alt="logo">
                            </div>
                            
                        </div>
                        <div class="col_2">
                            <h2 class="ingradient">Ingradients</h2>
                            <div class="ing_row">
                                {% for ing_item in ingradients %}
                                <div class="chkbox">
                                    <input type="checkbox" name="ingradient_list" value="{{ ing_item.id }}">
                                    <label for="ingr" class="chk_name">{{ ing_item.Name}}</label>
                                </div>
                                    
                                {% endfor %}
                            
                
                                <div class="other_btn">
                                    <a href="{% url 'add_ingradient_page' %}">Other</a> 
                                </div>
                            </div>
                        </div>
                    </div>
                        

                    <div class="submit_data">
                        <input type="submit" value="Submit" class="btn">
                        <input type="reset" value="Clear" class="btn">
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}