{% extends "inventory/base.html" %}
{% load static %}
{% load my_filters %}

{% block title %}
Django Delight | Menus
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'inventory/css/menu.css' %}">
<link rel="stylesheet" href="{%static 'inventory/font-awesome/css/font-awesome.min.css' %}">
{% endblock %}

{% block content %}
<div class="main">
    <div class="titles">
        <p class="sub_title">Discover the Art of Flavorful Dining</p>
        <h2 class="title">Chef's Choice Catalog: <br>Trusted Products for Recipe Innovation</h2>
        <p class="description">Experience a culinary journey with our Test Full Menu, featuring a tantalizing array of dishes crafted to perfection. From sizzling <br> steaks to Mediterranean delights, seafood specialties to wholesome vegetarian options, each dish is a masterpiece of flavor and finesse. <br> Indulge in a symphony of tastes that will leave you craving more.</p>
    </div>
    <div class="my_column">
        <div class="side_bar">
            <img src="{% static 'inventory/images/logo.png' %}" alt="logo image">
            <a href="{% url 'menu_item' %}" class="current">Menus</a>
            <a href="{% url 'recipes' %}">Recipe</a>
        </div>

        <div class="tables">
            <div class="table_top">
                <h2 class="navigation_Menu">Menus</h2>
                <a href="{% url 'Add_menu' %}" class="add_item"><i class="fa fa-plus" aria-hidden="true"></i>&nbsp;&nbsp;Add Menu</a>
            </div>
            <table>
                <tr>
                    <th></th>
                    <th>Menu Item</th>
                    <th>Price</th>
                    <th>Reating</th>
                    <th>Purchase</th>
                    <th>Update</th>
                </tr>
            {% for item in menu_items %}
        
                <tr>
                    <td class="number">{{ forloop.counter }}</td>
                    <td>{{ item.Title }}</td>
                    <td>$ {{ item.Price }} </td>
                    <td class="reating">{% for i in 0|range:item.Reating %}
                        <i class="fa fa-star"></i>
                        {% endfor %}
                    </td>
                    <td><a class="btn" href="{% url 'buy_conformation' item.id %}"><i class="fa fa-shopping-cart"></i>&nbsp;&nbsp;Buy</a></td>
                    <td><a href="#" class="btn"><i class="fa fa-pencil-square-o"></i>&nbsp;&nbsp;Edit</a></td>
                </tr>
            {% endfor %}
            </table>
        </div>
    </div>
</div>



{% endblock %}