{% extends 'inventory/base.html' %}
{% load static %}
{% load my_filters %}

{% block title%}
Django Delights | Create Menu Item
{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'inventory/css/update_requirement.css' %}">
{% endblock %}

{% block content %}
<div class="main">
    <div class="title">
        <div class="main_nav">
            <h2 class="menu_title">Ingradient for {{ title }} </h2>
            <p class="links"><a href="{% url 'index' %}">Home -> </a>&nbsp;&nbsp;&nbsp;<a href="{% url 'menu_item' %}">Menus -> </a>&nbsp;&nbsp;&nbsp;<a href="{% url 'Add_menu' %}" class="current">Add Menus</a></p>
        </div>
    </div>
    
    <div class="content">
        {% for item in RecipeIngradients %}
        {% if item.Quantity == 0 %}
            <div class="item">
                <form action="{% url 'Submit_RR' item.id %}" method="post">
                    {% csrf_token %}
                    <div class="inputs">
                        <label for="Name">Name of Ingradient <span>*</span></label>
                        <input type="text" name="name" value="{{item.Ingradint.Name }}" disabled>
                    </div>
                    <div class="inputs">
                        <label for="quntity">Quantity <span>*</span></label>
                        <input type="number" name="quantity">
                    </div>
                    <div class="inputs">
                        <label for="unit">Unit <span>*</span></label>
                        <select name="unit">
                            {% for unit in units %}
                            {% if unit == "gram" %}
                                <option value="{{unit}}" selected>{{unit}}</option>
                            {% else %}
                                <option value="{{unit}}">{{unit}}</option>
                            {% endif %}
                            {% endfor %}
                        </select>
                    </div>
                    <div class="button">
                        <input type="submit" value="Submit" class="btn">
                    </div>
                </form>
            </div>
        {% endif %}
        {% endfor %}
    </div>
</div>
{% endblock%}